name: ci-cd-main

on:
  push:
    branches:
      - main

env:
  NETLIFY_SITE_ID: 'ec6c10ab-eb47-4a85-9191-7ee572f3da00'
  NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN_PORTAIL_SUPPORT }}

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Deploy site
      run: npx netlify-cli deploy --prod --dir .
      if: success()
